@import "../../assets/css/variables.scss";

.QaReplyBackground {
    width: 100%;
    height:188px;
    position: relative;
    display: flex;
    margin-top: 25px;
    background: $border-color;
    border-radius: $border-radius;
    padding: 24px;

    .QaReplyContainer {
        width: 100%;
        height: 100%;

        .QaReplyBody {
            display: flex;
            gap: 12.71px;
            
            .QaReplyImg {
                border-radius: 50%;
            }
            .QaReplyInput {
                border: 1px solid rgba(89.8, 89.8, 89.8, 0.4);
                border-radius: $border-radius;
                background: $border-color;
                display: flex;
                flex-wrap: wrap;
                color:$c-secondary;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                width: 100%;
                padding-top: 14px;
                padding-left: 16px;
                padding-bottom: 50px;
            }
        }

        .QaReplyFooter {
            flex: 20%;
            display: flex;
            justify-content: left;
            margin: 16px 0px 24px 80px;

            .submitBtn {
                font-family: "Lack-Regular";
                border: none;
                background: $bg-blue;
                border-radius: $border-radius;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                cursor: pointer;
                padding: 12px 22px;
                margin-right: 16px;
            }

            .cancelBtn {
                font-family: "Lack-Regular";
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: $c-white;
                border-bottom: 1px solid $c-grey;
            }
        }
    }
    
}

@media (max-width: 767px) {
    .QaReplyBackground {
       flex-direction: column;
       width: 100%;
    }
}