//container
.container {
   width: 100%;
   max-width: 1920px;
   // padding: 0 195px;
   padding: 0 16px;
   margin: 0 auto;
}

//images
.img-absolute {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main-bg-img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   object-fit: cover;
   z-index: -1;
}
.img-box {
   position: relative;
}

//buttons
.grey-btn {
   flex: none;
   display: inline-flex;
   align-items: center;
   align-self: flex-start;
   padding: 6px 12px;
   background: $bg-dark-grey;
   border-radius: $border-radius;
   transition: 0.4s;
   cursor: pointer;

   &:hover {
      background: $bg-grey;
   }

   span {
      font-size: 14px;
   }
}

.border-gery-btn {
   display: inline-flex;
   align-items: center;
   align-self: flex-start;
   padding: 3px 10px;
   border-radius: $border-radius;
   border: 1px solid #1b232f;
   transition: 0.4s;
   cursor: pointer;

   &:hover {
      border-color: $c-white;
   }

   span {
      color: #898c93;
      line-height: 26px;
   }
}

.back-btn {
   display: flex;
   align-items: center;
   font-size: $f-small;
   cursor: pointer;

   & svg {
      transition: 0.4s;
      margin-right: 10px;
   }
   &:hover svg {
      transform: translateX(-5px);
   }
}

//end of buttons

//small items

//tag
.tag-item {
   display: flex;
   position: relative;
   background-color: $c-white;
   font-size: $f-small;
   line-height: 16px;
   padding: 4px 10px;
   color: $c-dark;
   text-transform: uppercase;
   transition: 0.6s;
   cursor: pointer;
}

//category
.cat-item {
   display: flex;
   position: relative;
   font-size: $f-small;
   line-height: 16px;
   padding: 4px 10px;
   color: $c-white;
   text-transform: uppercase;
   border: 1px solid $c-white;
   border-radius: 12px;
   transition: 0.6s;
   cursor: pointer;
}

//level
.lev-item {
   display: flex;
   position: relative;
   font-size: $f-small;
   line-height: 16px;
   padding: 4px 10px 4px 22px;
   color: $c-white;
   text-transform: uppercase;
   transition: 0.6s;
   border: 2px solid transparent;
   cursor: pointer;

   &:before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $c-white;
   }

   &.beginner {
      border-color: #259c55;
   }

   &.intermediate {
      border-color: #bb0ba9;
   }

   &.advance {
      border-color: #0b91bb;
   }

   &.pro {
      border-color: $c-orange;
   }
}

.lev-item-simple {
   position: relative;
   padding-left: 12px;
   font-size: $f-small;
   text-transform: uppercase;

   &:before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
   }

   &.beginner:before {
      background: #259c55;
   }
   &.intermediate:before {
      background: #bb0ba9;
   }
   &.advance:before {
      background: #0b91bb;
   }
   &.pro:before {
      background: #ff7152;
   }
}

//ens small items

//start of pagination
.pagination {
   width: 100%;
   display: flex;
   justify-content: center;

   .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      margin-right: 8px;
      background: $c-dark-grey;
      cursor: pointer;
      transition: 0.4s;
   }
   .item:last-child {
      margin-right: 0;
   }
   .item:not(.disabled):hover,
   .item.active {
      background: $c-blue;
   }
   .item.disabled {
      opacity: 0.5;
   }

   .prev {
      display: block;

      &:before {
         content: "";
         border: solid $c-white;
         border-width: 0 3px 3px 0;
         display: inline-block;
         padding: 3px;
         transform: rotate(135deg);
         -webkit-transform: rotate(135deg);
      }
   }

   .next {
      display: block;

      &:before {
         content: "";
         border: solid $c-white;
         border-width: 0 3px 3px 0;
         display: inline-block;
         padding: 3px;
         transform: rotate(-45deg);
         -webkit-transform: rotate(-45deg);
      }
   }
}

//end of pagination

//form elements
.input-wrap {
   display: flex;
   flex-direction: column;
   margin-bottom: 24px;

   &:last-child {
      margin-bottom: 0;
   }
}
.input-wrap label {
   font-size: $f-small;
   text-transform: uppercase;
   margin-bottom: 8px;
}

//input
.input-wrap input {
   width: 330px;
   max-width: 100%;
   height: 44px;
   padding: 0 16px;
   border: 1px solid $border-color;
   border-radius: $border-radius;
   background: transparent;
   font-size: $f-small;
   color: $c-grey;
}
.input-wrap input::-webkit-input-placeholder {
   color: $c-grey;
}
.input-wrap input:-ms-input-placeholder {
   color: $c-grey;
}
.input-wrap input::placeholder {
   color: $c-grey;
}
.input-wrap input::-webkit-outer-spin-button,
.input-wrap input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.input-wrap input[type="number"] {
   -moz-appearance: textfield;
}

//textarea
.input-wrap textarea {
   width: 330px;
   max-width: 100%;
   height: 128px;
   padding: 14px 16px;
   border: 1px solid $border-color;
   border-radius: $border-radius;
   background: transparent;
   font-size: $f-small;
   color: $c-grey;
}
.input-wrap textarea::-webkit-input-placeholder {
   color: $c-grey;
}
.input-wrap textarea:-ms-input-placeholder {
   color: $c-grey;
}
.input-wrap textarea::placeholder {
   color: $c-grey;
}

//select
.select {
   width: 330px;
   max-width: 100%;

   .select__control {
      height: 44px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background: transparent;
   }
   .select__control:hover {
      border-color: $border-color;
   }
   .select__control--is-focused {
      box-shadow: none;
   }
   .select__value-container {
      height: 44px;
      padding: 0 16px;
   }
   .select__placeholder,
   .select__single-value {
      font-size: $f-small;
      color: $c-grey;
   }
   .select__input-container {
      height: 44px;
      padding: 0;
      margin: 0;
   }
   .select__indicator-separator {
      background-color: $c-grey;
   }
   .select__dropdown-indicator svg {
      fill: $c-grey;
   }
   .select__menu {
      background-color: $bg-dark;
      border-radius: $border-radius;
      border: 1px solid $border-color;
   }
   .select__option {
      font-size: $f-small;
      color: $c-grey;
      transition: 0.4s;
   }
   .select__option:hover {
      color: $c-white;
   }
   .select__option--is-focused,
   .select__option--is-selected {
      color: $c-white;
      background-color: $bg-grey;
   }
}

//end of form elements

//start of editor

.text * {
   color: $c-white;
   transition: 0.4s;
}
.text img {
   display: block;
   width: 100% !important;
   height: auto;
}
.text a {
   display: inline-flex;
   color: $c-orange;
   font-size: 16px;
   text-decoration: underline;
   transition: 0.6s;
   cursor: pointer;
}
.text a:hover {
   color: $c-blue;
}
.text i {
   font-size: 16px;
   color: #cfd1d4;
   font-style: italic;
}
.text u {
   font-size: 16px;
   background-color: $c-orange;
   color: $c-white;
}
.text b {
   font-size: 16px;
   color: $c-white;
   font-weight: normal;
}
.text strike {
   font-size: 16px;
   color: $c-secondary;
   text-decoration: line-through;
}

.text iframe,
.text table,
.text tbody {
   max-width: 100%;
}
.text table,
.text tbody {
   max-width: 100% !important;
   table-layout: fixed;
   overflow-wrap: break-word;
}
.text table * {
   word-break: break-all !important;
}

table {
   border-collapse: collapse;
}
table,
th,
td {
   border: 1px solid $c-white;
}

.text h1 {
   font-size: 54px;
}
.text h2 {
   font-size: 44px;
}
.text h3 {
   font-size: 30px;
}
.text h4 {
   font-size: 22px;
}
.text h5 {
   font-size: 22px;
}
.text h6 {
   font-size: 18px;
}

.text p,
.text {
   font-size: 16px;
   color: $c-secondary;
}
.text span {
   font-size: 16px;
   color: $c-secondary;
}
.text div {
   font-size: 16px;
   color: $c-secondary;
}
.text ul {
}
.text ul li {
   position: relative;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 14px;
   padding-left: 24px;
   counter-increment: counter;
   opacity: 0.5;
}
.text ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: $c-blue;
}

.text ol {
   padding-left: 0;
}
.text ol li {
   counter-increment: counter;
   margin-bottom: 32px;
   line-height: 24px;
}
.text ol li::before {
   content: counter(counter, decimal-leading-zero);
   display: block;
   font-size: 51px;
   line-height: 66px;
   color: $c-orange;
}

.text blockquote {
   background-color: #111826;
   border-radius: 6px;
   margin: 0;
   padding: 100px 50px;
   border-radius: 4px;
   font-size: 16px;
   color: $c-secondary;
}

//end fo editor

//switcher
.mode-switcher {
   display: flex;
   align-items: center;

   .switcher {
      position: relative;
      width: 40px;
      height: 24px;
      border-radius: 24px;
      background-color: $c-white;
      cursor: pointer;
      transition: .4s;

      svg:first-child{
         position: absolute;
         top: 4px;
         left: 3px;
      }

      svg:last-child{
         position: absolute;
         top: 4px;
         right: 3px;
      }
   }

   .ttl{
      margin-left: 10px;
   }
}

//end of switcher
