
$bg-dark: #00050F;
$bg-grey: #131A26;
$bg-dark-grey: #191E27;
$bg-orange: #FF7152;
// $bg-blue: #151442;
$bg-blue: #0500FF;


$c-white: #fff;
$c-secondary: #969BA6;
$c-dark: #00050F;
$c-orange: #FF7152;
$c-blue: #0500FF;
$c-dark-blue: #010918;
$c-grey: #969BA6;
$c-dark-grey: #131A26;
$c-light-grey: #E5E5E5;


$border-radius: 4px;
$border-color: #111826;

$f-largest: 54px;
$f-larger: 44px;
$f-large: 30px;
$f-medium: 22px;
$f-small: 12px;