@import "../variables.scss";
.container {
    .banner {
        font-family: "Lack-Regular";
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        padding: 32px 0px;
        height: 260px;
    }   
    .txt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        height: 100%
    }
    .title {
        @extend %large;
        padding-top: $f-large;
        max-width: 80%;
    }
    .paragraph {
        padding-top: 20px;
        max-width: 80%;
    }
    // button {
    //     margin-top: auto;
    // }
  }